.projects-section {
  padding: 100px 0;
  background: #fadcd9;

  .section-title {
    font-size: 3rem;
    font-weight: 950;
    font-family: "Anton", sans-serif;
    font-style: normal;
    letter-spacing: -2.99px;
    margin-bottom: 50px;
    color: #eb6563;
  }

  .project-card {
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    transition: all 0.3s ease;
    height: 100%;
    .project-card title {
      color: aquamarine;
    }

    img {
      height: 300px;
      object-fit: cover;
    }
    .card-title {
      font-size: 2rem;
      font-weight: 700;
      color: #f47976; 
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 992px) {
  .projects-section {
    padding: 0!important;

    .section-title {
      font-size: 2.3rem;
      margin-top: 100px;
      text-align: center;
    }

    .project-card {
      img {
        height: 250px;
        width: 100%;
      }

      .card-title {
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }
}

@media (max-width: 576px) {
  .projects-section {

    .section-title {
      font-size: 2rem;
      margin-top: 80px;
      margin-bottom: 30px;
    }

    .project-card {
      img {
        height: 200px;
      }

      .card-title {
        font-size: 1.3rem;
      }
    }
  }
}

