.navbar {
  background: #f9f1f0;
  padding: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
  color: #2d2d2d;
  font-weight: 500;
  margin: 0 12px;
  text-decoration: none;
}

.navbar .nav-link:hover {
  color: #f8afa6;
  transform: translateY(-2px);
}

.navbar .nav-link.active {
  color: #f8afa6;
  font-weight: 600;
  border-bottom: 2px solid #f8afa6;
  padding-bottom: 4px;
}
@media (max-width: 991px) {
  .navbar-toggler {
    border: none !important;
    background: transparent !important;
    padding: 0;
    &:focus,
    &:active {
      outline: none !important;
      box-shadow: none !important;
    }
  }

  .navbar-collapse {
    padding: 10px 0;
  }

  .nav-link {
    display: block;
    margin: 10px 0;
  }
  
}
